@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #c0dffc;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
  width: 100%;
}

/* Header Section */

#header{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgb(225, 225, 255);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
     
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 15px;
}
#navbar li{
    list-style: none;
    position: relative;
    
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    font-weight: bold;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background:#088178;
    position: absolute;
    bottom: -4px;
    left: 1px;
}

/* Home Page */
#hero{
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
     
     
}
#hero h4{
    padding-bottom: 20px;

}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    font-weight: bold;
    padding: 14px 80px;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    cursor: pointer;
}
#hero button:hover{
    transform: scale(0.9)
}

/* Feature Section */
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#feature .f-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#feature .f-box:hover {
    transform: scale(1.08); /* slightly bigger */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* shadow for depth */
}
#feature .f-box h6{
    display: inline-block;
    background-color: #dcf7f5;
    padding: 10px;
}
#feature .f-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .f-box:nth-child(2) h6{
    background-color: #f7dcf3;
}
#feature .f-box:nth-child(3) h6{
    background-color: #dcf7de;
}
#feature .f-box:nth-child(4) h6{
    background-color: #c0dffc;
}
#feature .f-box:nth-child(5) h6{
    background-color: #dac0fc;
}
#feature .f-box:nth-child(6) h6{
    background-color: #ebc0fc;
}

/* Products Section */
#product1{
    text-align: center;
}
#product1 .pro-container{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#product1 .pro1{
    width: 25px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 10px;
    margin: 15px 0;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
#product1 .pro1:hover{
    transform: scale(1.08); /* slightly bigger */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* shadow for depth */
}

#product1 .pro1 img{
    width: 100%;
    border-radius: 10px;
    
}
#product1 .pro1 .discription{
    text-align: start;
}
#product1 .pro1 .discription span{
    color: #088178;
    font-size: 12px;
}
#product1 .pro1 .discription h5{
    padding-top: 6px;
    font-size: 14px;
}
#product1 .pro1 .discription .star i{
    padding-top: 3px;
    color: rgb(241, 241, 111);
}
#product1 .pro1 .discription h4{
    padding: 7px 0;
    font-size: 14px;
    font-weight: 600;
    color: #088178;
}
#product1 .pro1 .discription .price{
    display: flex;
    justify-content: space-between;
}
#product1 .pro1 .discription .price i{
    padding-right: 20px;
    color: #088178;
    transition: all 0.3s ease;
}
#product1 .pro1 .discription .price i:hover{
    transform: scale(1.3);
}

/* Banner Section */

#banner{
    background-image: url("img/banner/b2.jpg");
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    gap: 10px;
    background-size: cover;
    background-position: center;

}

#banner h4{
    color: #c0dffc;
    font-size: 18px;
}
#banner h2{
    color: #f7fbff;
    font-size: 32px;
    padding: 10px 0;
}
#banner span{
    color: #e42121;
}
#banner button:hover{
    transform: scale(1.05);
}